* {
  box-sizing: border-box;
}
.home-page {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  padding: auto;
  background-image: url(background.png);
  width: 100%;
  height: 662px;
  flex-wrap: wrap;
  background-size: auto auto;
  border: 1px solid;
  background-repeat: no-repeat;
}

/* Tablet view */
@media (max-width: 768px) {
  .home-page {
    height: auto; /* Adjust height to fit content */
    background-size: cover; /* Cover background to fit */
    padding: 20px; /* Add padding for better layout */
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .home-page {
    height: auto; /* Adjust height to fit content */
    background-size: cover; /* Cover background to fit */
    padding: 10px; /* Add padding for better layout */
    text-align: left; /* Align text to the left for better readability on small screens */
  }
}

.login-container {
  background-image: linear-gradient(orange, rgb(255, 217, 0) );
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  text-size-adjust: 10px;
  }